
.mySwiper {
  margin-top: 20px; 
}

:root {
  --swiper-navigation-size: 25px; 
  --swiper-theme-color: #d3d3d3; 
}

.swiper {
  width: 100%;
  max-width: 1200px; 
  margin: 20px auto; 
  padding: 10px 0 80px 0; 
  overflow: hidden; 
}


.swiper-slide figure {
  margin: 0; 
  width: 100%;
  padding: 0 10px 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.swiper-slide img {
  width: 100%;
  height: 450px; 
  aspect-ratio: 9 / 16;
  object-fit: cover; 
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
  display: block; 
}


.swiper-slide figcaption {
  margin-top: 30px;
  font-family: sans-serif;
  color: #333;
  font-weight: bold;
}


@media (min-width: 768px) {
  .swiper-slide img {
    height: 550px; 
  }
}
.swiper-button-next, .swiper-button-prev {
  color: #999; 
}


.swiper-pagination {
  bottom: 10px !important; 
}


.swiper-pagination-bullet {
  background: #555 !important;
  opacity: 0.3;
}


.swiper-pagination-bullet-active {
  background: #d3d3d3 !important;
  opacity: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #d3d3d3 !important; 
}